
<app-hero title="Assets" subtitle="Manage your collection of assets">
    <div class="container">
        <nav class="tabs is-boxed">
            <ul>
                <li class="is-active"><a>Active</a></li>
                <li class=""><a>Archived</a></li>
            </ul>
        </nav>
    </div>
</app-hero>

<section class="section">
    <div class="container">

        <div class="level">
            <div class="level-left">
                <p class="control has-icons-left">
                    <input type="text" class="input" placeholder="search">
                    <span class="icon is-left">
                        <i class="fa fa-search"></i>
                    </span>
                </p>
            </div>
            <div class="level-right">
                <a class="button is-primary" (click)="addAsset()">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span>Add asset</span>
                </a>
            </div>
        </div>

        <table class="table is-fullwidth is-striped is-bordered">
            <thead>
            <tr>
                <th>Title</th>
                <th>Date created</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let asset of asset$ | async">
                <td>{{ asset.title }}</td>
                <td>{{ asset.created | date }}</td>
            </tr>
            </tbody>
        </table>

        <!--<nav class="pagination" role="navigation" aria-label="pagination">-->
            <!--<a class="pagination-previous" title="This is the first page" disabled>Previous</a>-->
            <!--<a class="pagination-next">Next page</a>-->
            <!--<ul class="pagination-list">-->
                <!--<li>-->
                    <!--<a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a class="pagination-link" aria-label="Goto page 2">2</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a class="pagination-link" aria-label="Goto page 3">3</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</nav>-->
    </div>
</section>
