<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                kendraio
            </a>
            <a routerLink="/assets" class="navbar-item">Assets</a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <!-- navbar items -->
            </div>

            <div class="navbar-end">
                <div class="navbar-item has-dropdown">
                    <a class="navbar-link">
                        User
                    </a>

                    <div class="navbar-dropdown">
                        <!-- Other navbar items -->
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
